@if (hero) {
<h3>{{ hero.name }} Details</h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  @if (hero.id > 0) {
  <p>
    <span>ID: </span>
    <span>{{ hero.id }}</span>
  </p>
  }
  <p>Name:</p>
  <p>
    <input type="text" placeholder="Type name..." formControlName="name" />
  </p>
  <button type="submit">Save</button>
  <button type="button" (click)="onDelete()">Delete</button>
</form>
<a routerLink="/hero-detail/{{ hero.id - 1 }}">Prev</a> |
<a routerLink="/hero-detail/{{ hero.id + 1 }}">Next</a>

} @else {
<p>No hero found</p>
}
